/*  basil - css framework

Created by Daniel Bergmann, built by the community.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  /* size */
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 2rem;
  --xl: 3rem;

  /* colors */
  --primary: #333;
  --secondary: #fff;
  --accent: rgb(35, 156, 22);
}

a:hover {
  /* color: var(--accent); */
  color: var(--secondary);
}

a {
  color: var(--accent);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vh-10 {
  height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

@media (min-width: 764px) {
  .desktop\:vh-10 {
    height: 10vh;
  }

  .desktop\:vh-20 {
    height: 20vh;
  }

  .desktop\:vh-30 {
    height: 30vh;
  }

  .desktop\:vh-40 {
    height: 40vh;
  }

  .desktop\:vh-50 {
    height: 50vh;
  }

  .desktop\:vh-60 {
    height: 60vh;
  }

  .desktop\:vh-70 {
    height: 70vh;
  }

  .desktop\:vh-80 {
    height: 80vh;
  }

  .desktop\:vh-90 {
    height: 90vh;
  }

  .desktop\:vh-100 {
    height: 100vh;
  }
}

.full-width {
  width: 100%;
}

@media (min-width: 764px) {
  .desktop\:full-width {
    width: 100%;
  }
}

.full-height {
  height: 100%;
}

@media (min-width: 764px) {
  .desktop\:full-height {
    height: 100%;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: var(--sm);
}

@media (min-width: 764px) {
  .desktop\:row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: var(--sm);
  }
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}

@media (min-width: 764px) {
  .desktop\:col-1 {
    grid-column: span 1;
  }

  .desktop\:col-2 {
    grid-column: span 2;
  }

  .desktop\:col-3 {
    grid-column: span 3;
  }

  .desktop\:col-4 {
    grid-column: span 4;
  }

  .desktop\:col-5 {
    grid-column: span 5;
  }

  .desktop\:col-6 {
    grid-column: span 6;
  }

  .desktop\:col-7 {
    grid-column: span 7;
  }

  .desktop\:col-8 {
    grid-column: span 8;
  }
}

.flex-row {
  display: flex;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-left {
  display: flex;
  justify-content: flex-start;
}

.flex-row-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-right {
  display: flex;
  justify-content: flex-end;
}

.flex-row-right-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-col-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-col-right-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
}

.flex-row-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col-around-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-col-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 764px) {
  .desktop\:flex-row {
    display: flex;
  }

  .desktop\:flex-row-center {
    display: flex;
    justify-content: center;
  }

  .desktop\:flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop\:flex-col {
    display: flex;
    flex-direction: column;
  }

  .desktop\:flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desktop\:flex-col-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop\:flex-row-left {
    display: flex;
    justify-content: flex-start;
  }

  .desktop\:flex-row-left-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .desktop\:flex-row-right {
    display: flex;
    justify-content: flex-end;
  }

  .desktop\:flex-row-right-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .desktop\:flex-col-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .desktop\:flex-col-left-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .desktop\:flex-col-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .desktop\:flex-col-right-center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .desktop\:flex-row-around {
    display: flex;
    justify-content: space-around;
  }

  .desktop\:flex-row-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop\:flex-row-between {
    display: flex;
    justify-content: space-between;
  }

  .desktop\:flex-row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop\:flex-col-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .desktop\:flex-col-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .desktop\:flex-col-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.btn-primary {
  background-color: var(--secondary);
  padding: 10px 20px;
  border: 2px solid var(--primary);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: var(--sm);
}
.m-2 {
  margin: var(--md);
}
.m-3 {
  margin: var(--lg);
}
.m-4 {
  margin: var(--xl);
}

.m-t-0 {
  margin-top: 0;
}
.m-t-1 {
  margin-top: var(--sm);
}

.m-t-2 {
  margin-top: var(--md);
}

.m-t-3 {
  margin-top: var(--lg);
}

.m-t-4 {
  margin-top: var(--xl);
}

.m-r-0 {
  margin-right: 0;
}

.m-r-1 {
  margin-right: var(--sm);
}

.m-r-2 {
  margin-right: var(--md);
}

.m-r-3 {
  margin-right: var(--lg);
}

.m-r-4 {
  margin-right: var(--xl);
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-1 {
  margin-bottom: var(--sm);
}

.m-b-2 {
  margin-bottom: var(--md);
}

.m-b-3 {
  margin-bottom: var(--lg);
}

.m-b-4 {
  margin-bottom: var(--xl);
}

.m-l-0 {
  margin-left: 0;
}

.m-l-1 {
  margin-left: var(--sm);
}

.m-l-2 {
  margin-left: var(--md);
}

.m-l-3 {
  margin-left: var(--lg);
}

.m-l-4 {
  margin-left: var(--xl);
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: var(--sm);
}
.p-2 {
  padding: var(--md);
}
.p-3 {
  padding: var(--lg);
}
.p-4 {
  padding: var(--xl);
}

.p-t-0 {
  padding-top: 0;
}

.p-t-1 {
  padding-top: var(--sm);
}

.p-t-2 {
  padding-top: var(--md);
}

.p-t-3 {
  padding-top: var(--lg);
}

.p-t-4 {
  padding-top: var(--xl);
}

.p-r-0 {
  padding-right: 0;
}

.p-r-1 {
  padding-right: var(--sm);
}

.p-r-2 {
  padding-right: var(--md);
}

.p-r-3 {
  padding-right: var(--lg);
}

.p-r-4 {
  padding-right: var(--xl);
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-1 {
  padding-bottom: var(--sm);
}

.p-b-2 {
  padding-bottom: var(--md);
}

.p-b-3 {
  padding-bottom: var(--lg);
}

.p-b-4 {
  padding-bottom: var(--xl);
}

.p-l-0 {
  padding-left: 0;
}

.p-l-1 {
  padding-left: var(--sm);
}

.p-l-2 {
  padding-left: var(--md);
}

.p-l-3 {
  padding-left: var(--lg);
}

.p-l-4 {
  padding-left: var(--xl);
}

@media (min-width: 764px) {
  .desktop\:m-0 {
    margin: 0;
  }
  .desktop\:m-1 {
    margin: var(--sm);
  }
  .desktop\:m-2 {
    margin: var(--md);
  }
  .desktop\:m-3 {
    margin: var(--lg);
  }
  .desktop\:m-4 {
    margin: var(--xl);
  }

  .desktop\:m-t-0 {
    margin-top: 0;
  }

  .desktop\:m-t-1 {
    margin-top: var(--sm);
  }
  .desktop\:m-t-2 {
    margin-top: var(--md);
  }
  .desktop\:m-t-3 {
    margin-top: var(--lg);
  }
  .desktop\:m-t-4 {
    margin-top: var(--xl);
  }

  .desktop\:m-r-0 {
    margin-right: 0;
  }

  .desktop\:m-r-1 {
    margin-right: var(--sm);
  }
  .desktop\:m-r-2 {
    margin-right: var(--md);
  }
  .desktop\:m-r-3 {
    margin-right: var(--lg);
  }
  .desktop\:m-r-4 {
    margin-right: var(--xl);
  }

  .desktop\:m-b-0 {
    margin-bottom: 0;
  }

  .desktop\:m-b-1 {
    margin-bottom: var(--sm);
  }
  .desktop\:m-b-2 {
    margin-bottom: var(--md);
  }
  .desktop\:m-b-3 {
    margin-bottom: var(--lg);
  }
  .desktop\:m-b-4 {
    margin-bottom: var(--xl);
  }

  .desktop\:m-l-0 {
    margin-left: 0;
  }

  .desktop\:m-l-1 {
    margin-left: var(--sm);
  }
  .desktop\:m-l-2 {
    margin-left: var(--md);
  }
  .desktop\:m-l-3 {
    margin-left: var(--lg);
  }
  .desktop\:m-l-4 {
    margin-left: var(--xl);
  }


  .desktop\:p-0 {
    padding: 0;
  }
  .desktop\:p-1 {
    padding: var(--sm);
  }
  .desktop\:p-2 {
    padding: var(--md);
  }
  .desktop\:p-3 {
    padding: var(--lg);
  }
  .desktop\:p-4 {
    padding: var(--xl);
  }

  .desktop\:p-t-0 {
    padding-top: 0;
  }

  .desktop\:p-t-1 {
    padding-top: var(--sm);
  }
  .desktop\:p-t-2 {
    padding-top: var(--md);
  }
  .desktop\:p-t-3 {
    padding-top: var(--lg);
  }
  .desktop\:p-t-4 {
    padding-top: var(--xl);
  }

  .desktop\:p-r-0 {
    padding-right: 0;
  }

  .desktop\:p-r-1 {
    padding-right: var(--sm);
  }
  .desktop\:p-r-2 {
    padding-right: var(--md);
  }
  .desktop\:p-r-3 {
    padding-right: var(--lg);
  }
  .desktop\:p-r-4 {
    padding-right: var(--xl);
  }

  .desktop\:p-b-0 {
    padding-bottom: 0;
  }

  .desktop\:p-b-1 {
    padding-bottom: var(--sm);
  }
  .desktop\:p-b-2 {
    padding-bottom: var(--md);
  }
  .desktop\:p-b-3 {
    padding-bottom: var(--lg);
  }
  .desktop\:p-b-4 {
    padding-bottom: var(--xl);
  }

  .desktop\:p-l-0 {
    padding-left: 0;
  }

  .desktop\:p-l-1 {
    padding-left: var(--sm);
  }
  .desktop\:p-l-2 {
    padding-left: var(--md);
  }
  .desktop\:p-l-3 {
    padding-left: var(--lg);
  }
  .desktop\:p-l-4 {
    padding-left: var(--xl);
  }
}


.fs-1 {
  font-size: var(--sm);
}
.fs-2 {
  font-size: var(--md);
}
.fs-3 {
  font-size: var(--lg);
}
.fs-4 {
  font-size: var(--xl);
}

.hidden {
  display: none;
}

@media (min-width: 764px) {
  .desktop\:hidden {
    display: none;
  }
}

.visible {
  display: block;
}

@media (min-width: 764px) {
  .desktop\:visible {
    display: block;
  }
}
