// basil - css framework

.container {
  width: 100%;
  margin: 0 auto;
}

//  Grid
//  -------------------------
.row {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px;
  margin: 5px;
}

.col-1 {
  grid-column: span 1;
  border: 2px solid #333;
  padding: 5px;
}
.col-2 {
  grid-column: span 2;
  border: 2px solid #333;
  padding: 5px;
}
.col-3 {
  grid-column: span 3;
  border: 2px solid #333;
  padding: 5px;
}
.col-4 {
  grid-column: span 4;
  border: 2px solid #333;
  padding: 5px;
}
.col-5 {
  grid-column: span 5;
  border: 2px solid #333;
  padding: 5px;
}
.col-6 {
  grid-column: span 6;
  border: 2px solid #333;
  padding: 5px;
}
.col-7 {
  grid-column: span 7;
  border: 2px solid #333;
  padding: 5px;
}
.col-8 {
  grid-column: span 8;
  border: 2px solid #333;
  padding: 5px;
}

// Flexbox
// -------------------------
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

//  Buttons
//  -------------------------

.btn-primary {
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  border: 2px solid #333;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #333;
    color: #fff;
  }
}
